<!DOCTYPE html>
<html>
  <body>
    <h1 id='welcome'>
      <%= 'Welcome to Jules\' Tictactoe Web Application!' %>
    </h1>
    <form method="get" action="/game_setup">
      <input data-testid='game_setup' type='submit' />
    </form>
  </body>
</html>